@using DownNotifierEntities.Entities
@model List<DownNotifierEntities.Entities.Log>

@if (Model.Count > 0)
{
    <table class="table align-items-center justify-content-center mb-0">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Error Text</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Fonksiyon</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Request Model</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Url</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <p class="text-sm font-weight-bold mb-0">@item.ErrorText</p>
                    </td>
                    <td>
                        <p class="text-sm font-weight-bold mb-0">@item.Fonksiyon</p>
                    </td>
                    <td>
                        <p class="text-sm font-weight-bold mb-0">@item.RequestModel</p>
                    </td>
                    <td>
                        <p class="text-sm font-weight-bold mb-0">@item.Url</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}