@using DownNotifierEntities.Entities
@model List<DownNotifierEntities.Entities.Parameter>

@if (Model.Count > 0)
{
    <table class="table align-items-center justify-content-center mb-0">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">ParCode</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">ParValue</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="d-flex px-2">
                            <div class="my-auto">
                                <h6 class="mb-0 text-sm">@item.ParCode</h6>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="text-sm font-weight-bold mb-0">@item.ParValue</p>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn bg-gradient-primary w-50" onclick="getParameterField('@item.Id')">Update</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}